
// WEBSITE COLOURS
$color-primary: #537A5A;
$color-primary-light: #6D9C76;
$color-primary-lighter: #92B598;
$color-primary-dark: #3A553F;
$color-primary-darker: #213124;

$color-secondary: #2D232E;
$color-secondary-light: #503D51;
$color-secondary-lighter: #725874;
$color-secondary-dark: #171217;
$color-secondary-darker: #0B090C;

$color-detail-1: #9BA7C0;
$color-detail-2: #9AE19D;
$color-detail-3: #534B52;

$color-grey-light-1: #6C757D;
$color-grey-light-2: #DEE2E6;
$color-grey-light-3: #495057;
$color-grey-light-4: #ADB5BD;
$color-grey-very-light-1: #FAFAFA;
$color-grey-very-light-2: #E9ECEF;
$color-grey-very-light-3: #FCFCFD;
$color-grey-dark-1: #0C0E0F;
$color-grey-dark-2: #212529;

$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #E42535; // invalid input glow

$color-website-background: #FCFCFC;
$color-modal-overlay: rgba(33, 37, 41, 0.5);

// column gutter grid
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 6rem;

// typographies
$default-font-size: 1.6rem;
$default-font-family: 'Roboto', sans-serif;

// for most border radius
$default-border-radius: 4px;