@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/*
0 - 375px				Medium phones
375 - 600px				Phones
600 - 900px		 	Table portrait
900 - 1200px  	Table landscape
1200 - 1800 		normal design
1800px+		 			Big desktop

$breakpoint argument choices 
- phone-medium
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base - typography - general layout - grid - page layout - components
1em = 16px
em por razones de accesibilidad
*/
/*$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 6rem;*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  background-color: #FCFCFC; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #212529; }

.heading-1, h1 {
  color: #212529;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -.5px; }
  @media (max-width: 37.5em) {
    .heading-1, h1 {
      font-size: 4.4444rem;
      line-height: 1.4;
      letter-spacing: normal; } }
  .heading-1--sub, h1--sub {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500; }
    @media (max-width: 37.5em) {
      .heading-1--sub, h1--sub {
        font-size: 1.555556rem; } }

.heading-2, h2 {
  font-size: 5.6rem;
  font-weight: 700;
  color: #534B52;
  line-height: 1.21;
  letter-spacing: -.5px; }
  @media (max-width: 37.5em) {
    .heading-2, h2 {
      font-size: 3.92rem; } }

.heading-3, h3 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #212529;
  line-height: 1.21;
  letter-spacing: -.5px; }
  @media (max-width: 37.5em) {
    .heading-3, h3 {
      font-size: 3.36rem; } }

.heading-4, h4 {
  font-size: 4rem;
  font-weight: 700;
  color: #212529;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    .heading-4, h4 {
      font-size: 3.125rem; } }

.heading-5, h5 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #212529;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    .heading-5, h5 {
      font-size: 2.24rem; } }

.heading-6, h6 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #212529;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    .heading-6, h6 {
      font-size: 1.89rem; } }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-left-text {
  text-align: left; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-display-flex {
  display: flex; }

.u-display-flex-y-center {
  display: flex !important;
  align-items: center !important; }

.btn {
  padding: 1rem 2.4rem;
  border-radius: .6rem;
  font-size: 1.4rem;
  border: 0;
  transition: all .2s; }
  .btn--primary {
    background-color: #537A5A;
    color: #FFFFFF; }
    .btn--primary:hover {
      background-color: #6D9C76; }
    .btn--primary:active, .btn--primary:focus {
      background-color: #3A553F;
      border: 0; }

.section-featured {
  margin-top: 5rem;
  text-align: center; }

.landing-header {
  height: 75.6rem;
  background-image: linear-gradient(to right bottom, rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.7)), url("https://res.cloudinary.com/atoping/image/upload/v1617768836/landing/60937233_p0_yradmz.png");
  background-size: cover;
  background-position: center; }
  .landing-header__header {
    padding: 1.8rem 8.4rem;
    background-color: transparent;
    text-align: right;
    display: flex;
    align-items: center; }
    .landing-header__header--logo {
      height: 2.4rem; }
    .landing-header__header > .btn--primary {
      margin-left: auto;
      width: 8%; }
  .landing-header__text-box {
    padding-left: 8.4rem;
    width: 50%;
    margin-top: 8rem; }
    .landing-header__text-box--main {
      font-size: 6.4rem;
      color: #FFFFFF;
      font-weight: 900;
      display: block;
      margin-bottom: 2.4rem; }
    .landing-header__text-box--sub {
      font-size: 4.2rem;
      color: #FFFFFF;
      font-weight: 500; }

.featured {
  margin-top: 5.5rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem; }
  .featured__artist {
    height: 40.5rem;
    width: 25%;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .featured__artist--img {
      height: 40.5rem;
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      transition: all .2s; }
      .featured__artist--img:hover {
        filter: blur(2px) brightness(75%); }
        .featured__artist--img:hover + .featured__artist--name {
          opacity: 1;
          transform: translate(-50%, -50%); }
    .featured__artist:not(:last-child) {
      margin-right: 10.9rem; }
    .featured__artist--name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #FFFFFF;
      font-size: 2.4rem;
      text-align: center;
      opacity: 0;
      transition: all .2s;
      backface-visibility: hidden;
      /* arregla vibraciones en las animaciones*/ }
