<!DOCTYPE html>
<html lang="en">
    <head>
    	<%- include('../partials/headerMeta'); -%>
    </head>
    <body>
        <header class="landing-header">
        	<div class="landing-header__header">
	            <img src="/assets/logo-white.png" alt="Logo" class="landing-header__header--logo">
	            <button class="btn btn--primary">Sign in</button>
        	</div>
            <div class="landing-header__text-box">
                <span class="landing-header__text-box--main">Your next commission is right around the corner</span>
                <span class="landing-header__text-box--sub">Save that spot before anyone else!</span>
            </div>
        </header>

        <main>
        	<section class="section-featured">
        		<h2 class="heading-2">Featured Artists</h2>
        		<div class="featured">
        			<div class="featured__artist">
        				<img src="https://res.cloudinary.com/atoping/image/upload/v1617768836/landing/60937233_p0_yradmz.png" alt="featured artist 1" class="featured__artist--img">
        				<div class="featured__artist--name">
        					RavenSunArt
        				</div>
        			</div>
        			<div class="featured__artist">
        				<img src="https://res.cloudinary.com/atoping/image/upload/v1617768836/landing/60937233_p0_yradmz.png" alt="featured artist 2" class="featured__artist--img">
        				<div class="featured__artist--name">
        					Niftji
        				</div>
        			</div>
        			<div class="featured__artist">
        				<img src="https://res.cloudinary.com/atoping/image/upload/v1617768836/landing/60937233_p0_yradmz.png" alt="featured artist 3" class="featured__artist--img">
        				<div class="featured__artist--name">
        					Osmoru
        				</div>
        			</div>
        		</div>
        	</section>
        </main>

    </body>
</html>
