
body {
	font-family: $default-font-family;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark-1;
}

.heading-1, h1 {
	color: $color-grey-dark-2;
	font-size: 6.4rem;
	font-weight: 700;
	line-height: 1.19;
	letter-spacing: -.5px;

	@include respond(phone) {
		font-size: 4.4444rem;
		line-height: 1.4;
		letter-spacing: normal;
	}

	&--sub {
		display: block;
		font-size: 1.6rem;
		line-height: 1.5;
		font-weight: 500;

		@include respond(phone) {
			font-size: 1.555556rem;
		}
	}

}

.heading-2, h2 {
	font-size: 5.6rem;
	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.21;
	letter-spacing: -.5px;

	@include respond(phone) {
		font-size: 3.92rem;	// de aqui en adelante todas estan reducidas a 70%, misma proporcion que h1 (sin sub)
	}

}

.heading-3, h3 {
	font-size: 4.8rem;
	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.21;
	letter-spacing: -.5px;

	@include respond(phone) {
		font-size: 3.36rem;
	}

}

.heading-4, h4 {
	font-size: 4rem;
	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.5;

	@include respond(phone) {
		font-size: 3.125rem;
	}
}

.heading-5, h5 {
	font-size: 3.2rem;
	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.5;

	@include respond(phone) {
		font-size: 2.24rem;
	}
}

.heading-6, h6 {
	font-size: 2.4rem;
	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.5;

	@include respond(phone) {
		font-size: 1.89rem;
	}
}

.article-card {

	font-weight: 700;
	color: $color-grey-dark-2;
	line-height: 1.5;


	&--tall, &--wide {
		font-weight: 700;
		color: $color-grey-dark-2;
		line-height: 1.5;
	}

}

